.formulario{
    display:none;
    margin-top: $tamanho;
    color:black;
    font-weight: bold;
    @media(min-width:$tamanho){
        display: flex;
        opacity: 1;
        margin:0 0 10px 10%;
        width: 80%;
        justify-content: space-between;
        flex-wrap: wrap;
        color:black;
    }
    .nome{
        @include form-layout(100%);
        input{
            height: $itemheight;
            @extend %forminputs;
        }
    }
    .email{
        @include form-layout(100%);
        input{
            @extend %forminputs;
        }
    }
    .nascimento{
        @include form-layout(45%);
        input{
            @extend %forminputs;
        }
    }
    .telefone{
        @include form-layout(45%);
        input{
            @extend %forminputs;
        }
    }
    .Cep{
        @include form-layout(45%);
        input{
            @extend %forminputs;
        }
    }
    .rua{
        @include form-layout(45%);
        margin-left: 10px;
        input{
            @extend %forminputs;
            opacity: .8;
        }
    }
    .numero{
        @include form-layout(20%);
        input{
            @extend %forminputs;
            width: 100%;
        }
    }
    .bairro{
        @include form-layout(45%);
        input{
            @extend %forminputs;
            opacity: .8;
        }
    }
    .cidade{
        @include form-layout(50%);
        input{
            @extend %forminputs;
            opacity: .8;
        }
    }
    .estado{
        @include form-layout(40%);
        input{
            @extend %forminputs;
            opacity: .8;

        }

    }
}
