*{
padding:0;
margin:0;
list-style:none;
outline:none;
border:none;

-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-box-sizing:border-box;
}
/*section#view-formulario{
}
*/

body {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../Imagem1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
section#view-formulario{
position: absolute;
right: 100px;
float: right;
width: 300px;
height: 75%;
top: 10%;
padding: 25px;
background: #959595;
border-radius: 15px;
}
section#view-formulario h1{
  float: right;
  width: 100%;
  font: 2em  'Oswald', cursive;
  margin-top: 35px;
  color:	#000000;
   /*#959595;*/
}
section#view-formulario form p{
  font: 13px  'Arial';
  color: #808080;
  font-weight: bolder;
}
section#view-formulario form,
    section#view-formulario form label{
      float: left;
      width: 100%;
      margin-bottom: 10px;
}
section#view-formulario form{
    margin-top: 50px;
}
section#view-formulario form label input{
    float: right;
    width: 100%;
    text-align: left;
    padding: 10px 3px ;
    border: 1.35px solid ;
    color: 	#000000;
    border-radius: 5px;
}
section#view-formulario form input[type='submit']{
  float: center;
  width: 50%;
  padding: 12px 11px;
  background: #1E90FF;
  text-align: center;
  font: 15px  'Arial';
  color: #FFFFFF;
  border-radius: 5px;
}
