*{
padding:0;
margin:0;
list-style:none;
outline:none;
border:none;

-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-box-sizing:border-box;
}
/*section#view-formulario{
}
*/
body{
  background: #F0FFFF;
  background-size: cover;
  overflow: hidden;
}
div.background{
  position: absolute;
  top: 500px;
  left: 800px;
  height: 100%;
  width: 100%;
  background-image: url('../imagem/imagem6.png');
  background-repeat: no-repeat;
}
p.texto, p.texto-negri{
  position: absolute;
  left:150px;
  top: 250px;
  width: 600px;
  height: 100%;
  padding: 20px;
  font: 20px  'Righteous';

}
p.texto-negri{
  left:760px;
  top: 450px;
  overflow-x: hidden;
}
div.background2{
  position: absolute;
  top: 500px;
  left: 300px;
  height: 100%;
  width: 100%;
background-image: url('../imagem/fechado2.png');
background-repeat: no-repeat;}
div.rodape{
  position: absolute;
  top: 90%;
  right: 45%;
  height: 100%;
  padding: 50px 20px;
  font: 20px  'Righteous'
}
h2{
position: absolute;;
left: 40%;
top: 0px;
height: 20%;
width: 100%;
padding: 30px 60px;
line-height: 300px;
font: 30px  'Righteous';
color: 	#000000;
}
h4{
  position: absolute;
  padding: 20px 60px;
  top: 50px;
  left: 39%;
  font: 20px  'Playball';
}
section#view-formulario{
position: absolute;
right: 300px;
float: right;
width: 400px;
top: 80px;
height: 80%;
padding: 17px;
background: #959595;
border-radius: 30px;
}

section#view-formulario h1{
  float: right;
  width: 100%;
  font: 18px  'Oswald', cursive;
  margin-top: 30px;
  color:	#000000;
  top: 10px;
   /*#959595;*/
}

form, form label{
      float: left;
      width: 100%;
      margin-bottom: 10px;
}
section#view-formulario form{
    margin-top: 50px;
}
.input{
    float: right;
    width: 100%;
    text-align: left;
    padding: 10px 15px ;
    border: 1.35px solid ;
    color: 	#000000;
    border-radius: 5px;
}
section#view-formulario form input[type='submit']{
  float: center;
  width: 50%;
  padding: 12px 11px;
  background: #1E90FF;
  text-align: center;
  font: 15px  'Arial';
  color: #FFFFFF;
  border-radius: 5px;
}
