*{
padding:0;
margin:0;
list-style:none;
outline:none;
border:none;

-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-box-sizing:border-box;
}
/*section#view-formulario{
}
*/
section#viewformulario{
position: absolute;
right: 300px;
float: right;
width: 400px;
top: 80px;
height: 80%;
padding: 17px;
background: #959595;
border-radius: 30px;
border: 1.5px solid ;
}
section#viewformulario h1{
  float: right;
  width: 100%;
  font: 18px  'Oswald', cursive;
  margin-top: 30px;
  color:	#000000;
  top: 10px;
   /*#959595;*/
}
form, form label{
      float: left;
      width: 100%;
      margin-bottom: 50px;
}
section#viewformulario form{
    margin-top: 70px;

}
section#viewformulario input{
    float: right;
    width: 99%;
    text-align: left;
    padding: 10px 10px ;
    border: 1.35px solid ;
    color: 	#000000;
    border-radius: 5px;
    margin: 5px;
}
section#viewformulario button {
  float: center;
  width: 50%;
  padding: 10px;
  background: #1E90FF;
  text-align: center;
  font: 15px  'Arial';
  color: #FFFFFF;
  margin: 5px;
  border-radius: 5px;
}
