
.card-fade{
    animation: fadeout 2s forwards;
}
.esconde-card{
    display: none;
}

.posiciona-atendente{  
   animation: centraliza 3s forwards;
}

.posiciona-texto{
    transition:2s;
    margin-top: 50%;
    @media(min-width:$tamanho){
       margin-top: 0;
        animation:centraliza-texto 3s forwards;
    }
}


.btn-animation{
    animation: movimenta 2s forwards;
    display: block;
    margin-bottom: 2em;
    @media(min-width:$tamanho) {
        animation: teste 1s forwards;
    }
}

.display{
    animation: fadeout 2s forwards;
    @media(min-width:$tamanho) {
        animation: teste 1s forwards;
    }
}

.display-none{
    display: none;
    @media(min-width:$tamanho) {
       display: block;
    }
}

.out{
    animation: fadeout 2s ;
    @media(min-width:$tamanho) {
        animation: teste 1s forwards;
    }
}

.card-animation{
    animation:movimenta 2s forwards ;
    @media(min-width:$tamanho) {
        animation: teste 1s forwards;
    }
}

.form-animation{
    display: flex;
    opacity: 1;
    justify-content: space-between; 
    flex-wrap: wrap;
    padding: 1em;   
    $espaco: 2px;
    animation:movimenta 2s forwards ;
    @media(min-width:$tamanho) {
        animation: teste 1s forwards;
    }
    
}


@keyframes teste{

}

@keyframes movimenta{
    100%{margin-top: 10px;}
}

@keyframes fadeout {
    100%{opacity: 0;}
}

@keyframes centraliza{
    100%{left:40%; transform: scale(1.2);}
}

@keyframes centraliza-texto{
    100%{left:22%;}
}
