.mensagem{
    
    color: white;
    text-align: center;
    padding-top: 10px;

    @media(min-width:$tamanho){
    
        text-align: justify;
        position: absolute;
        height: 90px;
        left: 6%;
        z-index: 1;
        width: 56%;
        color: red;
        font-weight: bold;
        font-size: 11px;
    }

    .success-msg{
        color: green;
        font-weight: bold;
        text-align: center;
    }
}